[Unit]
Description=Sprinkler Node Scheduler Service
After=network.target

[Service]
ExecStart=/home/pi/sprinkler-node/src/server/scheduler.js
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/sprinkler-node

[Install]
WantedBy=multi-user.target
